pipeline/PL_Master_PizzaPlaceSales.json
{
	"name": "PL_Master_PizzaPlaceSales",
	"properties": {
		"activities": [
			{
				"name": "Get Datasets",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT SourceDirectory, SourceFile, StageSchema, StageTable, DWSchema, DWTable, ArchiveDirectory, ArchiveFile\nFROM [cfg].[Datasets] \nWHERE IsEnabled = 1\nORDER BY ID ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_PizzaPlaceSales",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "cfg",
							"TableName": "datasets"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Process Each Dataset",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Datasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Datasets').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Raw To Stg",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('TRUNCATE TABLE ', item().StageSchema, '.', item().StageTable)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_CSV_PizzaPlaceSales",
									"type": "DatasetReference",
									"parameters": {
										"DirectoryName": {
											"value": "@item().SourceDirectory",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().SourceFile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_PizzaPlaceSales",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().StageSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().StageTable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy Stg To DW",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy Raw To Stg",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('TRUNCATE TABLE ', item().DWSchema, '.', item().DWTable)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_PizzaPlaceSales",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().StageSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().StageTable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_PizzaPlaceSales",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().DWSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().DWTable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Archive Raw File",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy Raw To Stg",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_BIN_PizzaPlaceSales",
									"type": "DatasetReference",
									"parameters": {
										"DirectoryName": {
											"value": "@item().SourceDirectory",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().SourceFile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_BIN_PizzaPlaceSales",
									"type": "DatasetReference",
									"parameters": {
										"DirectoryName": {
											"value": "@item().ArchiveDirectory",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().ArchiveFile",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "5. PizzaPlaceSales"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-27T21:40:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}